.title {
   padding: .75rem
}

body {
    background: url('../img/cover.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    line-height: normal
}

.shop .name {
    padding-top: 2rem;
    padding-bottom: 1rem
}

.shop .line {
    background: white;
    padding: 1rem
}

.shop .product{
   padding: 1rem;
   text-align: center
}

.shop .product:hover{
     box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
}

.shop .product .detail{
    padding: .75rem;
    text-align: left;
    line-height: 1.5;
 }
    
/*.title h1 {
    line-height: 2.5rem;
}
.title p {
    line-height: 1.5rem;
    opacity: .6;
}
 .lines {
    background: #dfdfdf;
    margin-bottom: 2rem;
}
.lines .breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: .75rem 0;
}
.shop figure {
    border: 1px solid #dfdfdf;
    padding: 1rem
}
.shop figure:hover {
    box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
} */